doctype html
html(lang="zh_CN")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Document
    body(style="margin-left:100px")
        dl
            dt action text
                dd
                    span(id="example-1") default
                dd
                    span(id="example-2") custom
            dt alignment
                dd
                    span(id="example-3") left left left left(default)
                dd
                    span(id="example-4") center center center center
                dd
                    span(id="example-5") right right right right
            dt type
                dd
                    span(id="example-6") multiple(default)
                dd
                    span(id="example-7") radio
